
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #AED6F1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #AED6F1;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.modal {
  width: 930px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 66%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #32236C;
  padding: 20px;
  border-radius: 1.25rem;
}
.listar-paciente{
  list-style: none;
  padding: 0;
} 
.lista-atendimento{
  max-width: 930px;
  max-height: 420px;
  overflow-y: auto;
}
.listagem-paciente{
  max-width: 930px;
  max-height: 470px;
  overflow-y: auto;
}
.lista-medico{
  max-width:  930px;
  max-height: 421.8px;
  overflow-y: auto;
}
.lista li{
  display: inline-block;
  margin-right: 10px;
  margin-left: 5px;
}
.card {
  width: 260px;
  background-color: #32236C;
  color: #ffffff;
  text-align: center;
  margin: 10px;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  min-height: 70px;
}

.ver-mais {
  cursor: pointer;
  text-decoration: underline;
  margin-top: auto;
  width: 100%;
}

.ficha{
  width: 930px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #32236C;
  padding: 20px;
  border-radius: 1.25rem;
}
.cadastro{
  width: 930px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  z-index: auto;
  border-radius: 1.25rem;
}
input{
  border-color: #32236C;
  size: 100px;
}
.editar{  
  width: 930px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #32236C;
  padding: 20px;
  border-radius: 1.25rem;
}
.busca{
  position: absolute;
  width: 600px;
  padding: 10px;
  font-size: 16px;
  left: 25px;
  bottom: 615px;
  height: 20px;
  display: flex;
  border: 3px solid #32236C;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.titulo-modal{
  padding-top: 50px;
  top: 30px;
  padding-left: 5px;
}
.botao-cadastro{
  background-color: #32236C;
  color: #fff;
  font-size: large;
  position: absolute;
  left: 770px;
  bottom: 615px;
}
.botao-cadastro-2{
  background-color: #32236C;
  color: #fff;
  font-size: large;
  position: absolute;
  left: 740px;
  bottom: 615px;
}
.titulo-cadastro{
  color: #32236C;
  margin-bottom: 100px;
}
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  text-align: center; /* Centralizar o conteúdo horizontalmente */
  margin-bottom: 20px; /* Adicione um espaçamento inferior para separar as LI centralizadas */
}

ul li h2 {
  text-align: center; /* Centralizar o título */
}

ul li ul {
  list-style-type: none;
  padding: 0;
}

ul li ul li {
  text-align: left; 
}
.dado{
  border-bottom: 2px solid #ffffff;
}
.ul-principal{
  top: 15%;
  position: absolute;
}
.dado-2{
  font-size: 20px;
  padding: 20px;
  text-decoration: underline;
}
.hidden{
  visibility: hidden;
}
.titulo-editar{
  color: #fff;
}
.label-editar{
  color: #fff;
}
.logo-img{
width: 150px;
height: 150px;
flex-shrink: 0;
}
.logo{
  margin-top: 20px;
  margin-left: 155px;
  margin-bottom: 50px;
}
.name{
  color: #32236C;
  font-size: 1.5rem;
}
.container-botao {
  display: flex;
  align-items: center; /* Alinha verticalmente ao centro */
  margin-bottom: 35px;
}

.botao-menu {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #32236C;
  margin-right: 10px;
  margin-left: 150px; 
}

.botao-logo {
  width: 50px;
  height: 50px;
} 

/* Estilo para o <span> */
.span-menu {
  color: #32236C; /* Cor do texto do <span> */
  font-size: 24px; /* Tamanho da fonte do <span> */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}
.span-menu.animado {
  color: #ffffff; /* Cor após a animação (vermelho, por exemplo) */
}
.retangulo1 {
  width: 60px;
  height: 60px;
  background-color: #13005C;
  position: absolute; /* Define a posição absoluta */
  z-index: -1; /* Coloca o retângulo atrás de outros elementos */
  left: 150px; 
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
} 

.aumento1 {
  width: 225px !important; 

}
.retangulo2 {
  width: 60px;
  height: 60px;
  background-color: #13005C;
  position: absolute; /* Define a posição absoluta */
  z-index: -1; /* Coloca o retângulo atrás de outros elementos */
  left: 150px; 
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
} 

.aumento2 {
  width: 225px !important; 

}
.retangulo3 {
  width: 60px;
  height: 60px;
  background-color: #13005C;
  position: absolute; /* Define a posição absoluta */
  z-index: -1; /* Coloca o retângulo atrás de outros elementos */
  left: 150px; 
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
} 

.aumento3 {
  width: 225px !important; 

}

.retangulo4 {
  width: 60px;
  height: 60px;
  background-color: #13005C;
  position: absolute; /* Define a posição absoluta */
  z-index: -1; /* Coloca o retângulo atrás de outros elementos */
  left: 150px; 
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
} 

.aumento4 {
  width: 225px !important; 

}
.input-cadastrar{
  border: 3px solid #32236C;
  border-radius: 4px;
  width: 220px;
  height: 30px;
  font-size: 20px;
}
.input-cadastrar:focus{
  border-color: #32236C;
}
.cadastro-medico{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.botao-cadastrar{
  background-color: #32236C;
  color: #fff;

}
.grafico{
  margin: 0 10%;
  height: 350px;
  margin-top: -30px;





}

.cards-dashboard{
  display: flex;
}
.card-dashboard{
  width: 150px;
  height: 80px;
  background-color: #32236C;
  color: #ffffff;
  text-align: center;
  margin: 10px;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  padding: 10px;
  min-height: 10px;
  margin-left: 1px;
  margin-top: 43px;
}
.titulo-grafico{
  margin-left: 375px;
  margin-bottom: -5px;
}
.logo-logout{
  width: 30px;
  height: 30px;

}
.botao-logout{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  background-color: #32236C;
  width: 60px;
  height: 60px;
}
.titulo-dashboard{
  margin-right: 290px;
}
.inputs{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid #32236C;
  padding: 50px;
  padding-left: 110px;
  padding-right: 110px;
  margin-top: -30px;
}
.cadastro-paciente{
  display: inline;
  padding: 100px;
  
}

.input-cadastrar-paciente{
  border: 3px solid #32236C;
  border-radius: 4px;
  width: 220px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 50px;
  margin-left: 30px;
}
.label-cadastrar {
  display: block ; /* Exibir os rótulos como blocos */
  margin-left: 30px;
}
.inputs-paciente-1{
  margin-left: 20px;
  display: flex;
}
.inputs-paciente-2{
  display: flex;
  margin-left: 170px;

}
.all-inputs-paciente{
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 3px solid #32236C;
}
.titulo-cadastro-paciente{
  margin-top: -10px;
  margin-bottom: 85px;
  margin-left: 260px;
}
.botao-cadastrar-paciente{
  margin-left: 390px;
  background-color: #32236C;
  color: #fff;
}
.dataPicker{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  width: 220px;
  height: 30px; 
  font-size: 13px;
  margin-bottom: 30px;
  margin-left: 40px;
}
.cadastro-atendimento{
  border: 3px solid #32236C;
  max-width: 300px;
  padding: 50px;
  margin-left: 280px;
  margin-top: -80px;
}
.dropdown{
  border: #13005C;
  color: #32236C;
  width: 220px;
  height: 30px;
  margin-left: 40px;
  margin-bottom: 30px;
}
.dropdown-label{
  margin-left: 40px;
}
.marcar-atendimento{
  margin-top: 20px;
  margin-left: 100px;
  background-color: #32236C;
  color: #fff;
}
.titulo-cadastro-atendimento{
  color: #32236C;
  margin-bottom: 100px;
  margin-left: 240px;
}