.LoginBody {
    /* Certifique-se de definir uma largura máxima ou largura relativa para o elemento, caso contrário, ele ocupará toda a largura disponível */
    max-width: 80%; /* Exemplo de largura máxima */
    max-height: 10%;
    margin: 0 auto;
    position: relative;
  }
  .botao-sobre{
    position: absolute;
    left: 1300px;
    bottom: 1px;
    border: 3px solid #32236C;
    background-color: transparent;
    border-radius: 100px;
    width: 50px;
    height: 50px;
  }
